// Specific CSS for your home-page
body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.images {
  background-image: image-asset('map.png');
  background-size: cover;
  background-position:center;
  height: 400px;
}

.home-body {

  h3 {
    color: #1A7E04;
    line-height: 1.5;
  }

  p {
    line-height: 1.5;
  }
}

