// Specific CSS for your home-page
body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.images {
  background-image: image-asset('map.png');
  background-size: cover;
  background-position:center;
  height: 400px;
}
