<%= simple_form_for [@tractor, @booking] do |f| %>
  <div class="form-group">
    <label for="example-datetime-local-input"></label>
    <div class="">
      <%= f.input :starting_date, class: 'form-control', type: 'datetime', value: '2011-08-19T13:45:00' %>
      <!-- <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input"> -->
    </div>
  </div>
  <div class="">
    <label for="example-date-input"></label>
    <div class="">
      <%= f.input :ending_date, class: 'form-control', type: 'date', value: '2011-08-19' %>
      <%= f.button :submit, 'Book', class: 'btn btn-success btn-position' %>
    </div>
  </div>
<% end %>
