
<div class="container">
<% @bookings.each do |booking| %>
  <div class="row">
    <div class="col-6 col-md-4">
      <p> <%= booking.user.email %></p>
      <p> <%= booking.tractor.title %></p>


    </div>
  </div>
      <% end %>
</div>
