<!-- RENTER INDEX OF ALL BOOKING  -->


<div class="index-bookings-body">
  <div class="abs">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="history">
          <% @bookings.each do |booking| %>
            <div class="my-locs p-3 shadow rounded d-flex align-middle">
              <p> <%= booking.tractor.title %> rent from <%= booking.starting_date  %> to <%= booking.starting_date %> to <%= booking.tractor.user.email %> </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
