<!-- RENTER INDEX OF ALL BOOKING  -->



<div class="index-bookings-body">
  <div class="container">
    <% @bookings.each do |booking| %>
      <div class="my-locs">
        <p> <%= booking.tractor.title %> rent from <%= booking.starting_date  %> to <%= booking.starting_date %> </p>
        <p> <%= booking.tractor.user.email %></p>
      </div>
    <% end %>
  </div>
</div>


