<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url(https://s3-eu-west-1.amazonaws.com/sc-files.pjms.fr/p/pjms/804/000/396/978/62539300c6d243a78b669560b49f98a0.jpg);">
  <div class="container">
    <h1>Vroom<strong>BnB</strong> bring the perfect <strong>mowing tractor</strong> to your door!</h1>
    <p>Let's find the perfect machine for your grass!</p>
    <%= link_to 'Find yours!', tractors_path, class: 'btn btn-flat' %>
  </div>
</div>
