<h1>Tractor <%= @tractor.title %></h1>
<%#= image_path("@tractor.photo") %>
<%= link_to 'back on tractors index', tractors_path %>

<%= cl_image_tag @tractor.photo.key, height: 300, width: 400, crop: :fill %>
