.card {
  color: black;
  margin: 0;
  align-items: center;
  height: 250px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  h1 {
    margin: 0;
    font-size: 24px;
  }
  h2{
    font-weight: 700;
    font-size: 18px;
    margin: 0;
  }
}

.title{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 35px;
}

.price{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 214px;
  background-color: $green;
  right: 5px;
  width: 70px;
  height: 30px;
  color: white;
  border-radius: 5px;
  padding-top: 3px;
}

.image-cards{
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-position: center;
  position: relative;
  height: 250px;
  width: 300px;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
}

.info{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 300px;
  bottom: -130px;
  background-color: rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5px;
  p{
    width: 100%;
    height: auto;
  }
}

.card:hover .info{
  color: black;
  bottom: -10px;
  background-color: rgba(255,255,255,0.85);
}

.card:hover .title{
  display: none;
}

.price-title{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.status {
  font-size: 16px;
}
