.fas.fa-gas-pump{
  color: black;
  opacity: 0.3;
}

.fas.fa-gas-pump.active{
  color: #1A7E04;
  opacity: 1;
}

.fas.fa-leaf {
  color: black;
  opacity: 0.3;
}

.fas.fa-leaf.active {
  color: #1A7E04;
  opacity: 1;
}
