.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  // background: white;
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  padding-top: 8px;
}

.index-body {
  margin-top: 45px;
  position: relative;
  margin-bottom: 120px;
}

.show-body {
  margin-top: 20px;
  position: relative;
  width: 80%;
  margin-bottom: 120px;

}

.home-body {
  margin-bottom: 120px;
}
