.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  // background: white;
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.index-body {
  margin-top: 45px;
  position: relative;
}

.index-bookings-body {
  margin-top: 90px;
  position: relative;
}

.show-body {
  margin-top: 38px;
  position: relative;
}
