@media (min-width: 960px){
  .simple_form {
    width: 500px;
  }
}

@media (min-width: 720px){
  .simple_form {
    width: 300px;
  }
}

.top-show h2 {
  color: #1A7E04;
  padding: 15px;
}

.top-show h5 {
  padding: 15px;
  font-weight: bold;
  color: #1A7E04;
}


.show-tractor-image{
  width: 600px;
}
.picture-description{
  font-size: 20px;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

